// VARIABLES

//colors
$clr-bg: #fcfcfc;
$clr-lighten: #f4f4f4;
$clr-darken: #1d1d1d;
$clr-text: #101010;
$clr-hl: #01493e;

//fonts
$ff-ssp: 'Source Sans Pro', sans-serif;
$ff-lora: 'Lora', serif;
$ff-zilla: 'Zilla Slab', serif;
